############################################
# IDE - IntelliJ / STS / Eclipse / NetBeans
############################################

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/


############################################
# OS
############################################

.DS_Store
Thumbs.db


############################################
# Spring / Java (next502_backend)
############################################

next502_backend/.gradle/
next502_backend/build/
next502_backend/HELP.md

next502_backend/**/build/
next502_backend/**/.gradle/

!next502_backend/gradle/wrapper/gradle-wrapper.jar


############################################
# Spring static libs (optional)
############################################

next502_backend/**/bootstrap*
next502_backend/**/jquery*


############################################
# React (next502_frontend)
############################################

next502_frontend/node_modules/
next502_frontend/build/
next502_frontend/dist/

next502_frontend/.env
next502_frontend/.env.local
next502_frontend/.env.development
next502_frontend/.env.production

next502_frontend/npm-debug.log*
next502_frontend/yarn-debug.log*
next502_frontend/yarn-error.log*

next502_frontend/.vite/
next502_frontend/.cache/
next502_frontend/.parcel-cache/


############################################
# Flutter (next502_app)
############################################

next502_app/.dart_tool/
next502_app/.flutter-plugins
next502_app/.flutter-plugins-dependencies
next502_app/.pub-cache/
next502_app/.pub/
next502_app/build/
next502_app/coverage/

next502_app/.atom/
next502_app/.build/
next502_app/.buildlog/
next502_app/.history/
next502_app/.svn/
next502_app/.swiftpm/

next502_app/ios/Pods/
next502_app/ios/Podfile.lock
next502_app/android/.gradle/

next502_app/app.*.symbols
next502_app/app.*.map.json


############################################
# Misc
############################################

*.zip
local.properties
erd_warehouse_ieum.pdf
warehouse_ieum.sql
창고이음 안드로이드 앱 요구사항 정의서 (Ver 1.2).docx
창고이음 요구사항 정의서 업데이트.docx
